.floating-close-button{
  position: fixed;
  bottom: 0px;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0%);
}

.overlay {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(5px);
  transition: 1s;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  padding-top: 4px;
  justify-content: center;
}

.overlay.hidden {
  backdrop-filter: blur(0);
  background: none;
  pointer-events: none;
}

.modal-header .title {
  color: #374151;
  font-size: 24px;
}

h3 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.overlay-modal {
  margin: auto;
  padding: 24px;
  display: flex;
  background-color: white;
  flex-direction: column;
  border: 1px solid #e6e8ec;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 7%);
  background: white;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 20px;
  height: fit-content;
}

.av-setup-button-container {
  display: flex;
  flex-wrap: wrap;
}

.av-setup-confirm {
  margin-top: auto;
  min-width: min-content;
  border-radius: 100px;
  padding: 0px 20px;
  color: white;
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  line-height: 58px;
  text-align: center;
  flex-grow: 1;
  max-width: 200px;
  white-space: nowrap;
  margin-left: auto;
}

.av-setup-decline {
  margin-top: auto;
  min-width: min-content;
  border-radius: 100px;
  padding: 0px 20px;
  color: white;
  line-height: 58px;
  text-align: center;
  max-width: 200px;
  white-space: nowrap;
  color: #0063af;
  background-color: #ffffff;
  border: 2px solid #0063af;
}



.cookie-table table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.cookie-table thead th:nth-child(1) {
  width: 30%;
}

.cookie-table thead th:nth-child(2) {
  width: 20%;
}

.cookie-table thead th:nth-child(3) {
  width: 15%;
}

.cookie-table th,
td {
  text-align: left;
}

.cookie-table table tr:nth-child(odd) {
  background-color: #ff33cc;
}

.cookie-table table tr:nth-child(even) {
  background-color: #e495e4;
}